<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="计算器.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <计算器.Properties.Settings>
            <setting name="strVariables" serializeAs="String">
                <value>AX|1</value>
            </setting>
            <setting name="isSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isNaturalSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strExps" serializeAs="String">
                <value>1+1</value>
            </setting>
            <setting name="funList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>asinh|反双曲正弦|ln(X+sqrt(X*X+1))|X|三角函数与双曲函数</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="processId" serializeAs="String">
                <value>0</value>
            </setting>
        </计算器.Properties.Settings>
    </userSettings>
</configuration>